<ion-tabs>
  <div class="bgc">
    <div class="container">
      <div class="image">
        <img src="assets/image/demo-icon.png" alt="image">
      </div>
      <div class="form">
        <label class="font" for="name">Username</label> <br>
        <input class="inp" type="text"> <br>
        <br>
        <label class="font" for="pass">Password</label> <br>
        <input class="inp" type="password">
        <br>
        <br>
        <div class="font1"><a href="/tabs">Forgot Password?</a></div>
        <br>
        <input class="btn" type="button" value="Login">
        <br>
        <br>
        <div class="font2">New user? <a href="/tabs">Sign Up</a></div>
      </div>
    </div>
  </div>
</ion-tabs>
